<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{lista.titulo}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label floating>Tarea</ion-label>
            <ion-input [(ngModel)]="nombreTarea" type="text" (keyup.enter)="agregarTarea()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="lista.items.length > 0">
        <ion-list-header>
            Tareas por hacer
        </ion-list-header>
        <button ion-item detail-none class="animated fadeInDown" 
            *ngFor="let item of lista.items" (click)="actualizar(item)">
            <ion-icon *ngIf="item.completado" name="checkbox-outline" item-start></ion-icon>
            <ion-icon *ngIf="!item.completado" name="square-outline" item-start></ion-icon>
            {{item.descripcion }}
        </button>
    </ion-list>
</ion-content>