<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let lista of listas|filtroCompletado:false">

      <ion-item-options side="left">
        <button ion-button icon-only color="danger"
        (click)="eliminarLista(lista)"  > 
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>
      
      <button ion-item  (click)="listaSeleccionada(lista)">
        {{ lista.titulo }}
        <ion-note item-end>
          {{lista.items.length}} tareas
        </ion-note>
      </button>

    </ion-item-sliding>



  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="agregarLista()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>